body {
	margin: 0px;
	background: blue+green;
}

h1 {
	background: green;
	padding: 10px;
	margin: 0px;
	color: white;
	text-align: center;
}

header {
	background-color: #666;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	color: white;
}

.container {
	padding: 15px;
	min-height: 500px;
}

footer {
	background-color: #777;
	padding: 5px;
	text-align: center;
	color: white;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
	margin: 1px;
	border: 2px solid #bbb;
	border-style: outset
}

/* li:last-child {
	border-right: none;
} */
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 8px;
	background: #6b6966;
	text-decoration: none;
}

.ha {
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 14px;
}
.user-detail{
	float: right;
    margin-top: 2px;
    padding: 9px;
    color: green;
    background: white;
    font-size: 20px;
    font-weight: bold;
}
.active {
	background-color: #4CAF50;
}

.wid-33 {
	width: 33%;
	display: inline-block;
}

form {
	padding: 15px;
	text-align: center;
}

input[type=submit]:hover {
	background-color: #45a049;
}

label {
	display: block;
	padding: 5px 0px;
	border-radius: 4px;
	font-size: 16px;
	float: left;
	font-weight: 600;
}

input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 0px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	background-color: #4CAF50;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 14px;
}

.custom-error {
	text-align: left;
	font-size: 14px;
	color: red;
	display: block;
}

.table {
	width: 100%;
	border: 1px solid;
	font-size: 18px;
}

thead {
	background: #e2dddd;
}

th {
	text-align: center;
}

tr {
	
}

td {
	text-align: center;
}

tbody {
	background: aliceblue;
}